* {
    background-color: rgb(50, 100, 85);
    color: rgb(106, 212, 181);
    font-family: 'Share Tech Mono', sans-serif;
}

body {
    margin: 0px;
}

.header {
    height: 150px;
    top: 0%;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(26, 53, 45)
}

h1 {
    margin: 0px;
    font-size: 48px;
    background-color: rgb(26, 53, 45);
    text-shadow: 3px 3px rgb(58, 117, 99);
}

.calccont {
    padding: 50px;
    display: flex;
    justify-content: center;
}

.calculator {
    width: 400px;
    height: 600px;
    background-color: rgb(26, 53, 45);
    border-radius: 10px;
    border: solid 2px black;
    display: flex;
    justify-content: center;
}

.calcscreen {
    width: 350px;
    height: 100px;
    background-color: rgb(106, 212, 181);
    border-radius: 10px;
    border: 2px solid black;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.hightext {
    color: rgb(26, 53, 45);
    background-color: rgb(106, 212, 181);
    font-size: 28px;
    top: 24%;
    margin: 5px;
    position: fixed;
}

.lowtext {
    color: rgb(26, 53, 45);
    font-size: 40px;
    margin: 5px;
    background-color: rgb(106, 212, 181)
}

button {
    text-align: center;
}

.row1,
.row2,
.row3,
.row4,
.row5 {
    position: fixed;
    background-color: rgb(26, 53, 45);
}

.row1 {
    top: 37%;
}

.clear,
.backspace,
.decimal {
    width: 170px;
    height: 50px;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    background-color: rgb(100, 100, 100);
    font-size: 32px;
}

.row2 {
    top: 44%;
}

.input {
    width: 80px;
    height: 80px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 32px;
}

.row3 {
    top: 54%;
}

.operator {
    background-color: rgb(76, 106, 150);
    color: black;
}

.row4 {
    top: 64%
}

.row5 {
    top: 74%;
}

.equals {
    background-color: rgb(255, 115, 115);
    color: black;
}

.number:hover {
    background-color: rgb(84, 167, 142);
    color: white;
    cursor: pointer;
}

.clear:hover,
.backspace:hover,
.decimal:hover {
    background-color: rgb(170, 170, 170);
    cursor: pointer;
}

.operator:hover {
    background-color: rgb(104, 145, 206);
    cursor: pointer;
}

.equals:hover {
    background-color: rgb(255, 169, 169);
    cursor: pointer;
}

.footer {
    position: fixed;
    bottom: 0%;
    text-align: center;
    width: 100%;
    background-color:rgb(26, 53, 45);
}

.foottext {
    background-color:rgb(26, 53, 45);
    font-size: 24px;
}